@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@500&family=Orbitron&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.container {
    margin: 18px 80px;
    scroll-behavior: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-logo {
    width: 125px;
    flex: 1;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #000000;

}

.button-group {
    display: flex;
}

.link {
    text-decoration: none;
    color: #000000;
}

.list-item {
    margin-inline-start: 30px;
    padding: 0 5%;
    justify-content: center;
}

.nav-button {
    padding: 4px 35px;
    color: #515151;
    border-radius: 10px;
    background: #ffffff;
    border: 2px solid #000000;
}

.search-icon {
    margin-right: 6px;
}

.hero-container {
    display: flex;
    /* flex-wrap: wrap; */
}

.container-left {
    margin-top: 80px;
}

.square {
    position: absolute;
    z-index: -1;
    top: 330px;
    left: 189px;
}

.square img {
    width: 300px;
}

.hero-img img {
    width: 350px;
}

.globe {
    position: relative;
    left: 445px;
    top: 42px;
}

.globe img {
    width: 60px;
}

.hero-container-right {
    margin-top: 150px;
}

.hero-container-right h1 {
    font-size: 4em;
}

.hero-container-right .hero-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px 100px 80px 60px;
    color: #A8A8A8;
    text-align: center;
}

.star {
    position: relative;
    top: 82px;
    left: 886px;
}

.star img {
    width: 60px;
}

.btns {
    margin-left: 288px;
    /* margin-bottom: 35px; */
    margin-bottom: 80px;
}

.button-email {
    background-color: #ffffff;
    padding: 3px 16px;
    margin-right: 10px;
    color: #484848;
    letter-spacing: 1px;
    border-radius: 8px;
    border: 2px solid #000000;
}

.button-join {
    background-color: #000000;
    color: #ffffff;
    padding: 4px 8px;
    letter-spacing: 1px;
    border-radius: 8px;
    border: 2px solid #000000;
}

.contact-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #989797;
    margin-bottom: 15px;
}

.icons img {
    width: 30px;
    margin-right: 5px;
}

.bottom {
    position: relative;
    right: 30px;
    text-align: center;
}

.star-right img {
    position: absolute;
    width: 40PX;
    bottom: 70PX;
}